#root {
  max-width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#bar-outer{
  border: 1px solid black;
  height: 3rem;
  width: 500px;
  text-align: center;

}
.bar{
  border: 4px solid black;
  height: 3rem;
  width: 100%;
  /* background-color: #12dcad; */
}


p{
  /* margin: 0; */
}